/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

.logo {
	display: block;
	background-repeat: no-repeat;
}

/*********************
HEADER STYLES
*********************/
.meta-header {
	display: none;

	.social-header {
	}

	.client-search {
	}
}

.site-branding {
	width: 100%;
	margin: 1em 0;
	font-size: 200%;
	display: flex;
	justify-content: center;

	a {
		text-decoration: none;
	}
}

/*********************
STRUCTURE STYLES
*********************/

.content-area {
	width: 95%;
	margin: 0 auto;
}

/*********************
ARCHIVE STYLES
*********************/

.archive-excerpt {
	position: relative;
}

.post-thumb {
	position: relative;
	margin: 0;
}

.post-thumb img {
	margin-bottom: 0;
	display: block;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border-radius: 5px;
		margin: 0;
	}

	li {
		background-color: #eee;
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
		border-right: 1px solid #ddd;

		&:last-child {
			border-right: none;
		}

		.current {
			cursor: default;
			color: #333;
			background-color: #fff;

			&:hover,
			&:focus {
				color: #333;
				background-color: #fff;
			}
		}
	}

	a,
	span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: #333;

		&:hover,
		&:focus {
			background-color: #ccc;
			color: #eee;
		}
	}
} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {
	ul {
	}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
} /* end .wp-prev-next */

/*********************
FOOTER STYLES
*********************/

.footer {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 2.5%;

	.footer-widget {
		width: 100%;
		text-align: left;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.search-form {
			width: 100%;
		}
	}

	.inner-footer {
		padding-left: 2.5%;
		padding-right: 2.5%;
		background-color: #333;
		position: relative;
		z-index: 2;
	}

	.footer-credit {
		padding: 0.25em 1em;
		background-color: #333;
		color: #333;
		float: left;
		width: 100%;
	}
}

/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
.footer-links {
	ul {
		li {
		}
	}
} /* end .footer-links */

.copyright {
}

.privacy {
	margin-left: 1em;
}

/*********************
SERVICES STYLES
*********************/

.service-footer {
	margin-bottom: 2.5em;
}

.service-section {
	margin-bottom: 2.5em;
	border-bottom: 1px solid #ddd;
}

.service-cta,
.service-cta-mobile {
	margin-top: 2em;
	padding-bottom: 3.5em;
}

.service-thumb img {
	float: left;
	width: 100%;
	margin: 0 1em 0.5em 0;
}

.center-thumb-text {
	text-align: center;
	position: absolute;
}

.service-footer-thumb img {
	width: 100%;
}

.service-footer-cap {
	text-align: center;
}

h3.service-footer-cap {
	margin-top: 0;
}

/*********************
SLIDESHOW STYLES
*********************/

.swiper-container {
	margin-bottom: 3em;
}

.swiper-wrapper {
	--widthA: 100%;
	--heightA: calc(var(--widthA) * 0.6666667);

	width: var(--widthA);
	height: var(--heightA);
}

.swiper-button-prev,
.swiper-button-next {
	background-image: none;
}

/*********************
BADGES
*********************/

.badge-group {
	width: 100%;
	margin: 0 auto;
}

.badge {
	width: 47%;
	margin-right: 3%;
	float: left;
}

.badge img {
	width: 100%;
	height: auto;
}

.white-text {
	color: #fff;
}

.white-header {
	color: #fff;
	font-weight: bold;
}

/*********************
REVIEWS STYLES
*********************/

.reviews {
	float: left;
}

.quote-l,
.quote-r {
	font-size: 200%;
	line-height: 50%;
	position: absolute;
}

.quote-l {
	margin-left: -0.5em;
	margin-top: 0.25em;
}

.quote-r {
	margin-right: -0.5em;
	margin-top: 0.25em;
}

.handwrite {
	margin: 0;
	opacity: 0.6;
	text-align: right;
	width: 100%;
}

/**** REVIEW WIDGET ****/

.review-small {
	margin-bottom: 2em;
	float: left;

	.fa-star,
	.fa-star-half-o,
	.fa-star-o {
		color: #333;
	}

	.quote-small {
		font-size: 140%;
		width: 100%;
	}

	.stars {
		font-size: 80%;
	}
}

/*********************
CTA STYLES
*********************/

.cta-footer {
	padding: 1em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.cta {
		width: 100%;
		background-color: #333;
		border-radius: 15px;
		margin-bottom: 2em;
		padding: 0 1.5em;
		text-align: left;
	}

	.cta-title {
		color: #fff;
		margin: 0;
		border-bottom: 1px solid #fff;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.post-thumb-caption,
.service-thumb-caption,
p.wp-caption-text,
.wp-caption-text.gallery-caption {
	position: absolute;
	opacity: 0;
}

.onehundredcenter {
	width: 90%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

/*********************
SIDEBAR STYLES
*********************/

.round-thumb {
	border-radius: 100px;
	float: left;
	margin-right: 1em;
	width: 33%;
}

.related {
	margin: 0 0 1em 0;
}

.sidebar-title a {
	text-decoration: none;
}

/*********************
WIDGET STYLES
*********************/

.widget-contain,
.widget-contain .menu-primary-menu-container {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			margin: 0;
			padding: 0;
		}
	}
}

.cta-widget {
	display: inline-block;
	width: 100%;
}

/*********************
 COMMENTS
*********************/

.comment {
	list-style: none;
	margin-bottom: 2em;
}

.comment-metadata {
	display: none;
}

.comment-content p {
	margin: 0;
}

/******************************
CAPTION AND SHAREBAR STYLES
*******************************/

// .fs-drawer-mobile-more {
//     width: 30px;
//     height: 30px;
//     position: absolute;
//     bottom: 1em;
// 	right: 1em;
// 	z-index: 100;
// 	transition: opacity .25s ease-in-out;
// 	-moz-transition: opacity .25s ease-in-out;
// 	-webkit-transition: opacity .25s ease-in-out;

// 	svg.toggled{
// 		transform:rotate(90deg);
// 	}
// }

// .fs-drawer{
// 	position: absolute;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: baseline;
// 	width:100%;
// 	bottom: 0;
// 	opacity: 0;
// 	padding: 1em;
// 	background-color: rgba(0, 0, 0, .5);
// 	transition: opacity .25s ease-in-out;
// 	-moz-transition: opacity .25s ease-in-out;
// 	-webkit-transition: opacity .25s ease-in-out;

// 	figcaption{
// 		line-height: 1;
// 		padding-bottom: 1em;
// 		border-bottom: 1px solid #ddd;
// 		margin-bottom: .5em;
// 	}

// 	.fs-sharebar{
// 		display: flex;
// 		width: inherit;
// 		align-items: center;
// 	}

// 	&.toggled{
// 		opacity:1!important;
// 	}
// }

figure {
	color: #fff;
}

figcaption {
	line-height: 1;
}

a.social-icon {
	text-decoration: none;
}

svg.fs-icons {
	width: 1.5em;
	height: 1.5em;
	margin: 0 0 -0.1em 0;
	padding: 0;
}

.recent-blog-posts {
	margin: 4em 0;
}

.recent-post-thumbs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-gap: 20px;

	.recent-post-thumb {
		color: #fff;
		position: relative;
		line-height: 0;

		img {
			width: 100%;
		}

		.recent-post-hover {
			opacity: 0;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			line-height: initial;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: 1s;
		}
		.recent-post-hover:hover {
			opacity: 1;
		}
	}
}
